services:
  mlflow:
    container_name: mlflow_container
    image: mlflow_server
    restart: unless-stopped
    build:
      context: ./mlflow
      dockerfile: mlflow.dockerfile
    ports:
      - "${MLFLOW_PORT}:${MLFLOW_PORT}"
    command: >
      mlflow server 
      --backend-store-uri sqlite:////mlflow/mlflow.db 
      --host ${MLFLOW_HOST} 
      --port ${MLFLOW_PORT}
    volumes:
      - ./mlflow/data:/mlflow
